# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x] # [14.x, 16.x, 18.x]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
    - run: npm ci
    - run: npm run build --if-present
    - run: npm run test
    - run: npm run coverage_ci
    - run: echo "COV=$(python3 scripts/cov_parser.py ./cov)" >> $GITHUB_ENV
    - name: create_badge
      uses: schneegans/dynamic-badges-action@v1.4.0    
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        auth: ${{ secrets.GIST_SECRET }}
        gistID: c267cc7e00c619b7bd0e64cde19dad7b
        filename: coverage.json
        label: Coverage
        message: ${{ env.COV }}
        color: orange
 
 
